<a href="https://colab.research.google.com/github/PauloGustavo-dev/lista-e-tuplas/blob/main/Introdu%C3%A7%C3%A3o_a_Collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
idades=[3,12,33,56.45]
idades

[3, 12, 33, 56.45]

In [ ]:
idades.append(20)
#adiciona elemento no final da lista
idades

[3, 12, 33, 56.45, 20]

In [ ]:
idades.insert(0 , 100)
#insere o elemento na posição informada
idades

[100, 3, 12, 33, 56.45, 20]

In [ ]:
idades.extend([66,77])
#extende a lita com outra lista
idades

[100, 3, 12, 33, 56.45, 20, 66, 77]

In [ ]:
idades_no_ano_que_vem = []
for idades in idades:
  idades_no_ano_que_vem.append(idades+1)
idades_no_ano_que_vem

[101, 4, 13, 34, 57.45, 21, 67, 78]

# Objetos próprios

In [ ]:
class ContaCorrente:
  def __init__(self,codigo):
    self.codigo = codigo
    self.saldo = 0
  
  def deposita(self,valor):
    self.saldo+=valor
  
  def __str__(self) -> str:
    return "[>>Codigo {} Saldo {}<<]".format(self.codigo,self.saldo)

In [ ]:
conta_do_gui = ContaCorrente(15)
print(conta_do_gui)

[>>Codigo 15 Saldo 0<<]

In [ ]:
conta_do_gui.deposita(500)
print(conta_do_gui)

[>>Codigo 15 Saldo 500<<]

In [ ]:
conta_da_dani = ContaCorrente(50000)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Codigo 50000 Saldo 1000<<]

In [ ]:
contas=[conta_do_gui,conta_da_dani]
for conta in contas:
  print(conta)

In [ ]:
def deposita_para_todas(contas):
   for conta in contas:
     conta.deposita(100)
contas = [conta_do_gui,conta_da_dani]
deposita_para_todas(contas)
print(contas[0],contas[1])

[>>Codigo 15 Saldo 800<<] [>>Codigo 50000 Saldo 1300<<]

In [ ]:
contas.insert(0, 76)
print(contas[0],contas[1],contas[2])

76 [>>Codigo 15 Saldo 800<<] [>>Codigo 50000 Saldo 1300<<]

In [ ]:
contas = (conta_do_gui,conta_da_dani)
contas

(<__main__.ContaCorrente at 0x7f814c0c0eb0>,
 <__main__.ContaCorrente at 0x7f814c00cdc0>)

In [ ]:
contas[0].deposita(300)
for conta in contas:
  print(conta)

[>>Codigo 15 Saldo 1100<<]
[>>Codigo 50000 Saldo 1300<<]

# Nova seção

In [ ]:
idades= [21,58,47,26,16]

for i in range(len(idades)):
  print(f'{i} - {idades[i]}')

0 - 21
1 - 58
2 - 47
3 - 26
4 - 16

In [ ]:
list(enumerate(idades))

[(0, 21), (1, 58), (2, 47), (3, 26), (4, 16)]

In [ ]:
for valor in enumerate(idades):
  print(valor)

(0, 21)
(1, 58)
(2, 47)
(3, 26)
(4, 16)

In [ ]:
for indice, idade in enumerate(idades):
  print(indice,"x",idade)

0 x 21
1 x 58
2 x 47
3 x 26
4 x 16

In [ ]:
for indice, idade in enumerate(idades):
  print(indice)

0
1
2
3
4

In [ ]:
for indice, _ in enumerate(idades):
  print(indice)
#ignorando idades com o enumerate

0
1
2
3
4

In [ ]:
sorted(idades)
#ordena do menor para o maior

[16, 21, 26, 47, 58]

In [ ]:
list(reversed(idades))
#pega da ultima posição da lista para a primeira posição

[16, 26, 47, 58, 21]

In [ ]:
list(reversed(sorted(idades)))
#ordena do maior para o menor

[58, 47, 26, 21, 16]

In [ ]:
sorted(idades, reverse=True)
#ordena do maior para o menor
#melhor opção

[58, 47, 26, 21, 16]

In [ ]:
idades.sort()
#altera o valor da variavel deixando ordenado
idades

[16, 21, 26, 47, 58]